{% extends 'base.html' %}

{% block title %}Contato{% endblock title %}

{% block content %}
    <a href="{% url 'home' %}">Retornar para home</a>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <h1>Contato</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="6LdsZBgbAAAAAIp_SmP_pQP0U-9NVREqGMCcYh1l"></div>

        <input type="submit" value="Enviar">
    </form>
{% endblock content %}